@import '../../../assets/sass/colors.scss';

.bbs-modal-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    & > div:first-child {
        background-color: rgba(33, 39, 86, .38) !important;
    }
}

.bbs-modal-content {
    height: 70vh;
    width: 50vw;
    background-color: $backgroundLightGrey;
    padding: 2rem;
    position: relative;
    padding-bottom: 6rem;
    border-radius: 6px;

    h1 {
        margin-bottom: 1rem;
    }
}

.bbs-modal-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1rem 2rem;

    .error-box {
        display: flex;
        align-items: center;
        color: $errorRed;
    }
}