@import '../../assets/sass/colors.scss';

.my-roster-container {
    display: flex;
    flex-direction: row;
}

.my-roster-layout {
    display: grid;
    grid-column: 1/span 12;
    grid-template-columns: repeat(12,minmax(0,1fr));
    grid-gap: 16px 32px;
    width: 100%;

    .tab-card {
        flex-direction: column;
        padding: 1rem;
        grid-column: span 4;
        height: fit-content;
        position: fixed;
        width: 25%;
        transition: width .2s;
    }
}

.artist-card.selected {
    box-shadow: 0px 4px 10px 1px rgba(0,0,0,.25);
}

.roster-side-panel {
    fieldset {
        margin-top: 1rem;
        max-height: 12rem;
        overflow: scroll;
    }

    label {
        text-transform: capitalize;
    }

    .tag-filter-input {
        font-size: 1rem;
        padding: .25rem .5rem;
    }
}

.main-app.smaller {
    .my-roster-layout .tab-card {
        width: 20%;
    }
}

.roster-content {
    display: flex;
    flex-direction: column;
    grid-column: span 8;
    position: relative;
    grid-column-end: -1;

    .roster-head {
        padding: 1rem;
        small {
            font-weight: normal;
            .extras {
                font-size: 1rem;
            }
        }
    }
}

.top-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .top-content-actions {
        display: flex;
        flex-direction: row;

        i {
            margin-left: .5rem;
            color: $dark--grey;
            cursor: pointer;

            &:hover, &.active {
                color: $base--blue;
            }
        }
    }
}

.artist-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.roster-cards {
    display: flex;

    &.list {
        flex-direction: column;
        justify-content: center;
    }

    &.tiles, &.icon {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.scroll-to-top {
    cursor: pointer;
    font-size: .875rem;
    position: fixed;
    right: 40%;
    padding: .5rem 1rem;
    border-radius: 50px;
    z-index: 1;

    @include themed() {
        border: 1px solid t($border);
        background-color: t($background);
        color: t($lighterBlack);
    }

    i {
        font-size: .875rem;
        margin-right: .5rem;
    }

    &:hover {
        @include themed() {
            background-color: t($border);
        }
    }
}

.artist-name-link {
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.artist-details {
    .artist-header {
        text-align: center;

        img {
            margin-bottom: 1rem;
            flex: 0 0 auto;
            max-width: 100%;
            max-height: 15rem;
            align-self: center;
            -webkit-align-self: center;
            margin: auto;
            object-fit: scale-down;
        }
    }
}