@import '../../assets/sass/colors.scss';

.my-roster-container {
    display: flex;
    flex-direction: row;
}

.my-roster-layout {
    display: grid;
    grid-column: 1/span 12;
    grid-template-columns: repeat(12,minmax(0,1fr));
    grid-gap: 16px 32px;
    width: 100%;
}

.roster-filters {
    flex-direction: column;
    padding: 1rem;
    grid-column: span 4;
    height: fit-content;
    position: fixed;
    width: 25%;
    transition: width .2s;

    fieldset {
        margin-top: 1rem;
        max-height: 12rem;
        overflow: scroll;
    }

    label {
        text-transform: capitalize;
    }

    .tag-filter-input {
        font-size: 1rem;
        padding: .25rem .5rem;
    }
}

.main-app.smaller {
    .roster-filters {
        width: 20%;
    }
}

.roster-content {
    display: flex;
    flex-direction: column;
    grid-column: span 8;
    position: relative;
    grid-column-end: -1;

    .roster-head {
        padding: 1rem;
    }
}

.roster-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.scroll-to-top {
    cursor: pointer;
    font-size: .875rem;
    position: fixed;
    right: 40%;
    padding: .5rem 1rem;
    border: 1px solid $borderGrey;
    background-color: $backgroundGrey;
    color: $notFullyBlack;
    border-radius: 50px;
    z-index: 1;

    i {
        font-size: .875rem;
        margin-right: .5rem;
    }

    &:hover {
        background-color: $borderGrey;
    }
}