@import '../../../assets/sass/colors.scss';

.bbs-logo {
    display: flex;
    flex-direction: row;

    .bbs-logo-svg {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        h1 {
            font-family: Helvetica;
            font-weight: normal;
            font-size: 1.5rem;

            @include themed() {
                color: t($base);
            }
        }

        h2 {
            font-family: Helvetica;
            font-weight: normal;
            font-size: 1rem;

            @include themed() {
                color: t($base);
            }
        }

    }

    .bbs-copy {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .imglogo {
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        margin: .5rem;
        background-image: url('../../../assets/images/barnburner.svg');
        background-position: center;
        background-repeat: no-repeat;

        &.transparent {
            background-image: url('../../../assets/images/barnburner logo_transparent.jpg');
        }
    }

    &.clickable {
        cursor: pointer;
    }
}