@import '../../../assets/sass/colors.scss';

.bbs-logo {
    .bbs-logo-svg {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        h1 {
            font-family: Helvetica;
            color: white;
            font-weight: normal;
        }

        // background: url('../../../assets/images/barnburner.png') center center no-repeat;
        // background-size: contain;
        // &:hover {
        //     background: url('../../assets/images/mtg-logo-green.svg') center center no-repeat;
        // }
    }
    &.clickable {
        cursor: pointer;
    }
}