@import '../../assets/sass/colors.scss';

.bbs-home {
    h1, h2 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        
    }

    .bbs-home-header {
        margin-top: -1rem;
        max-height: 90vh;
        position: relative;
        background: url('../../assets//images/demo-page.png') center center no-repeat;
        background-size: 50%;
        padding-top: 14rem;
        padding-bottom: 15rem;
        
        @include themed() {
            background-color: t($base);
        }
    }

    .home-header-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-shadow: 2px 2px 8px black;
    }

    .home-text {
        padding-top: 3rem;
        width: 50%;
        text-align: center;
    }

    h1 {
        font-size: 3rem;
        font-weight: normal;

        @include themed() {
            color: t($lightText)
        }
    }

    h2 {
        font-size: 2rem;
        font-weight: normal;

        @include themed() {
            color: t($lightText)
        }
    }

    .nameplate {
        font-weight: normal;
        font-size: 8rem;
        z-index: 5;

        @include themed() {
            color: t($accent)
        }
    }

    .info-text {
        line-height: 1.5rem;
    }

    .bbs-info {
        display: flex;
        flex-direction: row;

        &.cards {
            justify-content: space-between;
            margin: 0rem 8rem;
            padding: 5rem;
        }

        &.two-columns {
            justify-content: center;
            > div {
                padding: 5rem;
            }
        }

        .photo-and-text {
            display: flex;
            justify-content: center;

            img {
                width: 90%;
            }
        }

        .bbs-text {
            position: relative;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;

            @include themed() {
                background-color: t($base)
            }

            h1 {
                margin-bottom: 1rem;
                font-weight: normal;

                @include themed() {
                    color: t($accent);
                }
            }
            p {
                @include themed() {
                    color: t($lightText);
                }
            }
        }

        .home-card {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            border-radius: 8px;
            padding: 2rem;
            width: 20%;

            @include themed() {
                border: 1px solid t($base);
            }

            h2 {
                font-weight: normal;

                @include themed() {
                    color: t($base)
                }
            }

            p {
                @include themed() {
                    color: t($base)
                }
            }
        }
    }
}

.floating-logo {
    position: absolute;
    top: -2rem;
    left: -4rem;

    .bbs-logo .imglogo {
        height: 8rem;
        width: 8rem;
    }
}

.bbs-home-footer {
    padding: 5rem;
}