@import '../../assets/sass/colors.scss';

.bbs-home {
    .bbs-home-header {
        margin-top: -1rem;
        height: 90vh;
        
        @include themed() {
            background-color: t($base);
        }
    }

    .bbs-home-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 14rem;
        padding-bottom: 15rem;

        .home-text {
            padding-top: 3rem;
            width: 50%;
            text-align: center;

            p {
                font-size: 1.5rem;

                @include themed() {
                    color: t($lightText)
                }
            }
        }

        h2 {
            font-size: 3rem;

            @include themed() {
                color: t($lightText)
            }
        }

        h1 {
            font-weight: normal;
            font-size: 8rem;
            z-index: 5;

            @include themed() {
                color: t($accent)
            }
        }
    }

    .bbs-info {
        display: flex;
        flex-direction: row;

        &.cards {
            justify-content: space-between;
            margin: 0rem 8rem;
            padding: 5rem;
        }

        &.two-columns {
            justify-content: center;
            > div {
                padding: 5rem;
            }
        }

        .photo-and-text {
            display: flex;
            justify-content: center;

            img {
                width: 90%;
            }
        }

        .bbs-text {
            position: relative;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;

            @include themed() {
                background-color: t($base)
            }

            h1 {
                margin-bottom: 1rem;

                @include themed() {
                    color: t($accent);
                }
            }
            p {
                @include themed() {
                    color: t($lightText);
                }
            }
        }

        .home-card {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            border-radius: 8px;
            padding: 2rem;
            width: 20%;

            @include themed() {
                border: 1px solid t($base);
            }

            h2 {
                font-weight: normal;

                @include themed() {
                    color: t($base)
                }
            }

            p {
                @include themed() {
                    color: t($base)
                }
            }
        }
    }
}

.floating-logo {
    position: absolute;
    top: -2rem;
    left: -4rem;

    .bbs-logo .imglogo {
        height: 8rem;
        width: 8rem;
    }
}

.bbs-home-footer {
    padding: 5rem;
}