@import '../../assets/sass/colors.scss';

.artist-page {
    .divider-bar {
        margin: 0rem 3rem;
    }

    .top-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .artist-header {
        padding: 1rem 2rem;

        &.New {
            border-top: 4px solid $highlightNew;
        }
        &.Approached {
            border-top: 4px solid $highlightApproached;
        }
        &.Negotiating {
            border-top: 4px solid $highlightNegotiating;
        }
        &.Signed {
            border-top: 4px solid $highlightSigned;
        }

        .artist-name {
            span {
                display: flex;
                align-items: center;

                .bbs-icon {
                    margin-left: .5rem;
                    cursor: pointer;
                }
            }
        }

        .artist-name-title {
            display: flex;
            flex-direction: row;
        }
    }

    .lead-content {
        display: flex;
        flex-grow: 1;
        justify-content: flex-start;
    }

    .artist-profile {
        display: flex;
        flex-direction: row;
        align-items: center;

        .artist-picture {
            width: 5rem;
        }

        .artist-name {
            display: flex;
            flex-direction: column;
            margin-left: 1rem;

            h2 {
                font-weight: normal;
            }
        }
    }

    .lead-status {
        display: flex;
        flex-direction: row;
        width: 40%;
        align-items: center;
        justify-content: center;

        .progress-stepper {
            width: 100%;
        }
    }

    .lead-actions {
        display: flex;
        flex-direction: row;

        .bbs-button {
            margin: 0;
            margin-left: 1rem;
        }
    }

    ////////
    .bottom-content {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-top: 1rem;
        padding-top: 1rem;
        border-top: 2px solid $backgroundGrey;
    }

    .artist-stat {
        display: flex;
        flex-direction: column;
        margin-right: 3rem;

        .artist-stat-label {
            margin-bottom: .5rem;
        }

        &#relationship .artist-stat-value {
            text-transform: capitalize;
        }

        .artist-stat-label, .artist-stat-value {
            font-weight: normal;
        }
    }
}

.artist-content {
    display: flex;
    flex-direction: row;

    .tab-card:first-child {
        width: 66%;
    }

    .tab-card:last-child {
        width: 33%;
    }
}

.form {
    h2 {
        margin-bottom: 1rem;
    }
}
.form-content {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: baseline;

    &.tags {
        .bbs-pills {
            width: 80%;
        }
    }

    &.about {
        .bbs-input {
            width: 80%;
        }
    }

    &.columns > div {
        width: 45%;
        padding: .5rem;
    }
}

.artist-status-pill {
    border-radius: 20px;
    margin-left: 1rem;
    padding: 0rem .5rem;

    &.New {
        border: 2px solid $highlightNew;
        background-color: $lightHighlightNew;
        color: $highlightNew;
    }
    &.Approached {
        border: 2px solid $highlightApproached;
        background-color: $lightHighlightApproached;
        color: $highlightApproached;
    }
    &.Negotiating {
        border: 2px solid $highlightNegotiating;
        background-color: $lightHighlightNegotiating;
        color: $highlightNegotiating;
    }
    &.Signed {
        border: 2px solid $highlightSigned;
        background-color: $lightHighlightSigned;
        color: $highlightSigned;
    }
}