@import '../../assets/sass/colors.scss';

.artist-page {
    .divider-bar {
        margin: 0rem 3rem;
    }

    .top-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .artist-header {
        padding: 1rem 2rem;

        &.New {
            @include themed() {
                border-top: 4px solid t($newColor);
            }
        }
        &.Approached {
            @include themed() {
                border-top: 4px solid t($approachedColor);
            }
        }
        &.Negotiating {
            @include themed() {
                border-top: 4px solid t($negotiatingColor);
            }
        }
        &.Signed {
            @include themed() {
                border-top: 4px solid t($signedColor);
            }
        }

        .artist-name {
            span {
                display: flex;
                align-items: center;

                .bbs-icon {
                    margin-left: .5rem;
                    cursor: pointer;
                }
            }
        }

        .artist-name-title {
            display: flex;
            flex-direction: row;
        }
    }

    .lead-content {
        display: flex;
        flex-grow: 1;
        justify-content: flex-start;
    }

    .artist-profile {
        display: flex;
        flex-direction: row;
        align-items: center;

        .artist-picture {
            width: 10rem;
        }

        .artist-name {
            display: flex;
            flex-direction: column;
            margin-left: 1rem;

            h2 {
                font-weight: normal;
                margin-right: 1rem;
            }
        }
    }

    .lead-status {
        display: flex;
        flex-direction: row;
        width: 40%;
        align-items: center;
        justify-content: center;

        .progress-stepper {
            width: 100%;
        }
    }

    .lead-actions {
        display: flex;
        flex-direction: row;

        .bbs-button {
            margin: 0;
            margin-left: 1rem;
        }
    }

    .bottom-content {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-top: 1rem;
        padding-top: 1rem;
        border-top: 2px solid $bg--grey;
    }

    .artist-stat {
        display: flex;
        flex-direction: column;
        margin-right: 3rem;

        .artist-stat-label {
            margin-bottom: .5rem;
        }

        &#relationship .artist-stat-value {
            text-transform: capitalize;
        }

        .artist-stat-label, .artist-stat-value {
            font-weight: normal;
        }
    }
}

.artist-content {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.form-content {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;

    &.tags {
        .bbs-pills {
            width: 80%;
        }
    }

    &.about {
        .bbs-input {
            width: 80%;
        }
    }

    &.columns > div {
        width: 45%;
        padding: .5rem;
    }
}

.form-column {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 40%;
    padding: 1rem;
}

.artist-status-pill {
    padding: .125rem .5rem;

    &.New {
        @include themed() {
            background-color: t($newLight);
            color: t($newColor);
        }
    }
    &.Approached {
        @include themed() {
            background-color: t($approachedLight);
            color: t($approachedColor);
        }
    }
    &.Negotiating {
        @include themed() {
            background-color: t($negotiatingLight);
            color: t($negotiatingColor);
        }
    }
    &.Signed {
        @include themed() {
            background-color: t($signedLight);
            color: t($signedColor);
        }
    }
}

.bbs-select {
    display: flex;
    flex-direction: column;
    margin: .5rem 0rem;

    select {
        padding: .25rem;
        font-size: 1.2rem;
    }
    label {
        font-size: 1rem;
        margin-bottom: .5rem;
    }
}