@import '../../../assets/sass/colors.scss';

.bbs-button {
    margin: .5rem 1rem;
    white-space: nowrap;

    .MuiButton-root {
        padding: .25rem 1rem;
        text-transform: none;
        font-size: 1rem;
        min-width: 5rem;
    }

    &.primary .MuiButton-root {
        cursor: pointer;

        @include themed() {
            color: t($lightText);
            background-color: t($base);
            border: 2px solid t($base);
        }

        .MuiButton-label {
            @include themed() {
                color: t($lightText);
            }
        }


        &:hover {
            @include themed() {
                background-color: darken(t($base), 5%);
            }
        }
    }

    &.secondary .MuiButton-root {
        cursor: pointer;
        background-color: transparent;

        @include themed() {
            color: t($lighterBlack);
            border: 2px solid t($borderDark);
        }

        .MuiButton-label {
            @include themed() {
                color: t($lighterBlack);
            }
        }


        &:hover {
            @include themed() {
                background-color: t($boxShadowLight) !important;
            }
        }


    }

    &.tertiary .MuiButton-root {
        cursor: pointer;

        @include themed() {
            color: t($lightText);
            background-color: t($accent);
            border: 2px solid t($accent);
        }

        .MuiButton-label {
            @include themed() {
                color: t($lightText);
            }
        }

        &:hover {
            @include themed() {
                background-color: darken(t($accent), 5%);
            }
        }
    }

    &.disabled {
        cursor: not-allowed;
        pointer-events: none;
    }
}