@import '../../assets/sass/colors.scss';

.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    // border: 1px solid $lightBaseColor;
    align-items: center;
    border-radius: 6px;
    background-color: $backgroundLightGrey;

    i {
        margin-left: 1rem;
    }

    .MuiAutocomplete-root input {
        border: none;
        outline: none;
        font-size: 1.25rem;
        padding: .5rem 1rem !important;
        width: 24rem;
        color: black;
    }
}