@import '../../assets/sass/colors.scss';

.header {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 100;
    padding: .5rem 2rem;
    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .20);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .20);

    @include themed() {
        background-color: t($lightText);
    }
}

.sub-header {
    display: flex;
    align-items: center;
}

.subtab-container {
    display: flex;
    flex-direction: row;
    margin-bottom: -1rem;

    .sub-tab {
        padding: .5rem .5rem;
        cursor: pointer;
        margin-left: 1rem;
        display: flex;
        align-items: flex-end;

        @include themed() {
            color: t($base);
        }

        p {
            font-size: 1rem;
        }

        &.notactive {
            border-bottom: 3px solid rgba(255, 255, 255, 0);
        }

        &:hover, &.active {
            @include themed() {
                border-bottom: 3px solid t($base);
            }
        }
    }
}

.main-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .divider-bar {
        height: 2rem;
    }

    .action-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .bbs-icon {
            height: fit-content;
        }

        .avatar {
            display: flex;
            align-items: center;
        }

        .user-profile-dropdown {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            padding: .25rem;
            border-radius: 50%;
            
            img {
                height: 2rem;
            }

            &:hover {
                @include themed() {
                    background: t($backgroundLight);
                }
            }
        }
    }
}

#main-menu .MuiMenu-list {
    min-width: 8rem;
    .logout-menu-item {
        @include themed() {
            color: t($error);
        }
    }
}