@import '../../assets/sass/colors.scss';

.main-navigation {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 100;
    padding: .5rem 2rem;
    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .20);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .20);
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;

    @include themed() {
        background-color: t($lightText);
    }

    &.blue {
        box-shadow: none;

        @include themed() {
            background-color: t($base);
        }

        .bbs-logo .bbs-copy h1 {
            @include themed() {
                color: t($lightText);
            }
        }

        .bbs-button.secondary {
            .MuiButton-label {
                @include themed() {
                    color: t($lightText);
                } 
            }
        }
    }
}

.sub-header {
    display: flex;
    align-items: center;
}

.subtab-container {
    display: flex;
    flex-direction: row;
    margin-bottom: -1rem;

    .sub-tab {
        padding: .5rem .5rem;
        cursor: pointer;
        margin-left: 1rem;
        display: flex;
        align-items: flex-end;

        @include themed() {
            color: t($base);
        }

        p {
            font-size: 1rem;
        }

        &.notactive {
            border-bottom: 3px solid rgba(255, 255, 255, 0);
        }

        &:hover, &.active {
            @include themed() {
                border-bottom: 3px solid t($base);
            }
        }
    }
}

.main-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .divider-bar {
        height: 2rem;
    }

    .action-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .bbs-icon {
            height: fit-content;
        }

        .avatar {
            display: flex;
            align-items: center;
        }

        .user-profile-dropdown {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            padding: .25rem;
            border-radius: 50%;
            
            img {
                height: 2rem;
                width: 2rem;
            }

            &:hover {
                @include themed() {
                    background: t($backgroundLight);
                }
            }
        }
    }
}

#main-menu .MuiMenu-list {
    min-width: 8rem;
    .logout-menu-item {
        @include themed() {
            color: t($error);
        }
    }
}

// side menu
.side-menu {
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
    height: 100%;

    @include themed() {
        background-color: t($lightText);
    }

    .add-new-lead-button {
        margin: 0 auto;
        margin-bottom: 1rem;
    }
}

.side-menu-item {
    cursor: pointer;
    margin: .5rem 0rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: .5rem 6rem .5rem 1rem;

    @include themed() {
        color: t($darkText);
    }

    i {
        font-size: 1.5rem;
        margin-right: 1rem;
    }

    h2 {
        font-weight: normal;
        @include themed() {
            color: t($darkText);
        }
    }

    &:hover, &.active, &.active:hover {
        @include themed() {
            background-color: t($background);
            color: t($darkText);
        }

        h2 {
            @include themed() {
                color: t($darkText);
            }
        }
    }
}