@import '../../assets/sass/colors.scss';

.header {
    background-color: $baseColor;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 100;
    padding: .5rem 2rem;
}

.sub-header {
    display: flex;
}

.subtab-container {
    display: flex;
    flex-direction: row;
    margin-bottom: -1rem;

    .sub-tab {
        padding: .5rem .5rem;
        color: white;
        cursor: pointer;
        margin-left: 1rem;
        display: flex;
        align-items: flex-end;

        p {
            font-size: 1.25rem;
        }

        &.notactive {
            border-bottom: 3px solid rgba(255, 255, 255, 0);
        }

        &:hover, &.active {
            border-bottom: 3px solid $backgroundLightGrey;
        }
    }
}

.main-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .divider-bar {
        height: 2rem;
    }

    .action-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .bbs-icon {
            height: fit-content;
        }

        .avatar {
            display: flex;
            align-items: center;
        }

        .user-profile-dropdown {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            padding: .25rem;
            border-radius: 50%;

            &:hover {
                background: $lightBaseColor;
            }
        }
    }
}

#main-menu .MuiMenu-list {
    min-width: 8rem;
    .logout-menu-item {
        color: $errorRed;
    }
}