// default themes
$dark--base: #1b2047;
$base--blue: #212756;
$light--base: #596198;
$light--light--base: #8d95d1;
$accent--orange: #e36f51;

$light--text: #ffffff;
$dark--text: #000000;

$dark--background: #1c1e21;
$dark--background-hover: #24272b;
$dark--grey: #616161;

$bg--light--light--grey: #fbfbfb;
$bg--light--grey: #F2F2F2;
$bg--grey: #E5E5E5;
$bg--dark--grey: #a5a5a5;
$bg--dark--dark--grey: #848484;

$border--grey: #dadce0;
$border--dark--grey: #c4c4c4;

$error--red: #DF0000;

$new--highlight: #5dcddc;
$approached--highlight: #fec043;
$negotiating--highlight: #aea2fb;
$signed--highlight: #3dcfa2;

$new--highlight--light: #f0fafc;
$approached--highlight--light: #fff0cf;
$negotiating--highlight--light: #e4e0ff;
$signed--highlight--light: #e1f5ef;

$new--highlight--dark: #262829;
$approached--highlight--dark: #4b463a;
$negotiating--highlight--dark: #3c3a44;
$signed--highlight--dark: #343a38;

// dark themes


///////////////////

$logo: 'logo';
$base: 'base';
$accent: 'accent';
$baseDark: 'baseDark';
$baseLight: 'baseLight';
$baseLightLight: 'baseLightLight';
$lightText: 'lightText';
$darkText: 'darkText';
$lighterBlack: 'lighterBlack';
$app-background: 'app-background';
$app-background-hover: 'app-background-hover';
$backgroundLight: 'backgroundLight';
$background: 'background';
$backgroundDark: 'backgroundDark';
$border: 'border';
$borderDark: 'borderDark';

$boxShadow: 'boxShadow';
$boxShadowLight: 'boxShadowLight';

$error: 'error';

$newColor: 'newColor';
$newLight: 'newLight';
$approachedColor: 'approachedColor';
$approachedLight: 'approachedLight';
$negotiatingColor: 'negotiatingColor';
$negotiatingLight: 'negotiatingLight';
$signedColor: 'signedColor';
$signedLight: 'signedLight';


$themes: (
    default: (
        logo: url('../images/barnburner.svg'),
        base: $base--blue,
        accent: $accent--orange,
        baseLight: $light--base,
        baseLightLight: $light--light--base,
        baseDark: $dark--base,

        lightText: $light--text,
        darkText: $dark--text,
        lighterBlack: $dark--grey,

        app-background: $bg--light--light--grey,
        app-background-hover: $light--text,
        backgroundLight: $bg--light--grey,
        background: $bg--grey,
        backgroundDark: $bg--dark--grey,
        
        border: $border--grey,
        borderDark: $border--dark--grey,

        boxShadow: rgba(0,0,0,.25),
        boxShadowLight: rgba(0,0,0,.04),

        error: $error--red,

        newColor: $new--highlight,
        newLight: $new--highlight--light,
        approachedColor: $approached--highlight,
        approachedLight: $approached--highlight--light,
        negotiatingColor: $negotiating--highlight,
        negotiatingLight: $negotiating--highlight--light,
        signedColor: $signed--highlight,
        signedLight: $signed--highlight--light
    ),
    dark: (
        logo: url('../images/barnburner.svg'),
        base: $base--blue,
        accent: $accent--orange,
        baseLight: $light--base,
        baseDark: $dark--base,

        lightText: $dark--background,
        lightIcon: $light--text,
        darkText: $light--text,
        darkIcon: $dark--grey,
        lighterBlack: $dark--grey,

        app-background: $dark--background,
        app-background-hover: $dark--background-hover,
        backgroundLight: $dark--grey,
        background: $bg--grey,
        backgroundDark: $dark--background,
        
        border: $dark--text,
        borderDark: $border--dark--grey,

        error: $error--red,

        newColor: $new--highlight,
        newLight: $new--highlight--dark,
        approachedColor: $approached--highlight,
        approachedLight: $approached--highlight--dark,
        negotiatingColor: $negotiating--highlight,
        negotiatingLight: $negotiating--highlight--dark,
        signedColor: $signed--highlight,
        signedLight: $signed--highlight--dark
    )
);

@mixin themed() {
    @each $theme, $map in $themes {
      .theme--#{$theme} & {
        $theme-map: () !global;
        @each $key, $submap in $map {
          $value: map-get(map-get($themes, $theme), "#{$key}");
          $theme-map: map-merge($theme-map, ($key: $value)) !global;
        }
        @content;
        $theme-map: null !global;
      }
    }
}

@function t($key) {
    @return map-get($theme-map, $key);
}