$surfGreen: #8DD9BF;
$lightsurfGreen: #F8FFFC;

$backgroundLightGrey: #F2F2F2;
$backgroundGrey: #E5E5E5;
$backgroundDarkGrey: #C4C4C4;

$notFullyBlack: #616161;

$errorRed: #DF0000;
$statusBlue: #00A3FE;