$baseColor: #212856;
$accentColor: #ef6a4d;

$superLightGrey: #fbfbfb;

$superLightBase: #dee2ff;
$lightBaseColor: #596198;

$backgroundLightGrey: #F2F2F2;
$backgroundGrey: #E5E5E5;
$backgroundDarkGrey: #C4C4C4;

$notFullyBlack: #616161;

$errorRed: #DF0000;

$highlightNew: #5dcddc;
$highlightApproached: #fec043;
$highlightNegotiating: #aea2fb;
$highlightSigned: #3dcfa2;

$lightHighlightNew: #f0fafc;
$lightHighlightApproached: lighten($highlightApproached, 35%);
$lightHighlightNegotiating: lighten($highlightNegotiating, 35%);
$lightHighlightSigned: lighten($highlightSigned, 35%);