@import './colors.scss';

html, body, #root, .app {
    height: 100%;
    width: 100%;
    font-size: 1rem;
    background: $superLightGrey;
    margin: 0;
}

.main-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5rem;
}

.main-app {
    height: 100%;
    margin: 0rem 8rem;
    margin-left: 8rem;
    flex-grow: 1;
    transition: margin-left .2s;

    &.smaller {
        margin-left: 20rem;
    }
}

html, body, textarea {
    font-family: Helvetica; //"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
}

i {
    font-size: 1.5rem;
}

a:hover {
    color: $baseColor;
}

:focus {
    outline: none;
}

.card {
    background-color: white;
    border: 1px solid $borderGrey;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 1rem;
    margin: .5rem;

    &-rounded {
        @extend .card;
        border-radius: 8px;
    }
}

.divider-bar {
    border: 2px solid $backgroundGrey;
    background-color: $backgroundGrey;
    height: 4rem;
    width: 0px;
    border-radius: 6px;
    margin: 0rem 1rem;

    &.dark-background {
        border: 2px solid $lightBaseColor;
        background-color: $lightBaseColor;
    }
}

.normal-weight {
    font-weight: normal;
}

.capitalize {
    text-transform: capitalize;
}