@import './colors.scss';

html, body, #root, .barnburner, .app, .main-app {
    font-size: 1rem;
    margin: 0;

    @include themed() {
        background: t($app-background);
    }
}

.main-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5rem;

    @include themed() {
        background-color: t($app-background);
    }
}

html, body, textarea {
    font-family: Helvetica; //"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;;
}

h1, h2, h3, h4, h5, p, span, div {
    margin: 0;
    @include themed() {
        color: t($darkText)
    }
}

i {
    font-size: 1.5rem;
}

a:hover {
    @include themed() {
        color: t($base);
    }
}

:focus {
    outline: none;
}

.card {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 1rem;
    margin: .5rem;

    @include themed() {
        background-color: t($lightText);
        border: 1px solid t($border);
    }

    &-rounded {
        @extend .card;
        border-radius: 8px;
    }
}

.divider-bar {
    height: 4rem;
    width: 0px;
    border-radius: 6px;
    margin: 0rem 1rem;

    @include themed() {
        border: 2px solid t($border);
        background-color: t($border);
    }
}

.normal-weight {
    font-weight: normal;
}

.capitalize {
    text-transform: capitalize;
}