@import './colors.scss';

html, body, #root, .dispatch {
    font-size: 1rem;
    margin: 0;

    @include themed() {
        background: t($app-background);
    }
}

.dispatch {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;

}

.content {
    height: -webkit-fill-available;
    display: flex;
    flex-direction: row;
    justify-content: center;
    // padding: 5rem 0rem;
    flex: 1;

    @include themed() {
        background-color: t($app-background);
    }
}

html, body, textarea {
    font-family: Helvetica; //"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;;
}

h1, h2, h3, h4, h5, p, span, div {
    margin: 0;
    @include themed() {
        color: t($darkText)
    }
}

.main-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: .5rem .75rem .25rem;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

i {
    font-size: 1.5rem;
}

a {
    @include themed() {
        color: t($accent)
    }

    &:hover {
        @include themed() {
            color: t($base);
        }
    }
}

:focus {
    outline: none;
}

.card {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 1rem;
    margin: .5rem;

    @include themed() {
        background-color: t($lightText);
        border: 1px solid t($border);
    }

    &-rounded {
        @extend .card;
        border-radius: 8px;
    }
}

.divider-bar {
    height: 4rem;
    width: 0px;
    border-radius: 6px;
    margin: 0rem 1rem;

    @include themed() {
        border: 2px solid t($border);
        background-color: t($border);
    }
}

.normal-weight {
    font-weight: normal;
}

.capitalize {
    text-transform: capitalize;
}