@import '../../../assets/sass/colors.scss';

@mixin bbsIcon($name, $height:1.5, $width:1.5) {
    background-image: url("../../../assets/images/#{$name}.svg");
    background-position: center;
    background-repeat: no-repeat;
    height: #{$height}rem;
    width: #{$width}rem;
}

@mixin bbsLogo($color) {
    width: 9rem;
    height: 5rem;
    background-image: url("../../../assets/images/mtg-logo-#{$color}.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.bbs-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .25rem;
    padding: .5rem;
    
    &.round {
        border-radius: 50%;

        &:hover {
            background-color: $backgroundLightGrey;
        }
    }

    &.clickable {
        cursor: pointer;
    }

    &.disabled {
        cursor: not-allowed
    }

    .under-construction {
        @include bbsIcon('under-construction', 5, 5)
    }
    .mtg-logo-black {
        @include bbsLogo('black');
    }
    .mtg-logo-green {
        @include bbsLogo('green');
    }
    .search-icon {
        @include bbsIcon('search-icon');
    }
    .default-avatar {
        @include bbsIcon('default-avatar');
    }
    .settings {
        @include bbsIcon('settings');
    }
    .add-icon {
        @include bbsIcon('add-icon')
    }
    .google-small {
        @include bbsIcon('google-small');
    }
    .info {
        @include bbsIcon('info-icon', 1.5, 1.5);
    }
    .save {
        @include bbsIcon('save-black')
    }
    .edit {
        @include bbsIcon('edit-black');
    }
    .my-roster {
        @include bbsIcon('roster-black')
    }
    .new-lead {
        @include bbsIcon('add-new-lead-black')
    }
    .my-calendar {
        @include bbsIcon('calendar-black')
    }
    .hamburger {
        @include bbsIcon('hamburger-icon')
    }
    .heart-filled {
        @include bbsIcon('heart-filled')
    }
    .heart-empty {
        @include bbsIcon('heart-empty')
    }
}