@import '../../../assets/sass/colors.scss';

.company-home {
    margin: 0rem 4rem;

    .company-header {
        display: flex;
        height: 50vh;

        .company-carousel-wrapper {
            flex: 3;
            margin: .5rem;

            .company-carousel {
                height: 100%;
            }

            .CarouselItem {
                height: 80%;

                & > div {
                    height: 100%;
                }
            }

            .carousel-indicators {
                margin-top: 3rem;
            }

            .carousel-item {
                height: 100%;
                padding: 1rem 2rem;

                h1 {
                    margin-left: 3rem;

                    @include themed() {
                        color: t($accent)
                    }
                }

                p {
                    margin-left: 2rem;

                    @include themed() {
                        color: t($lightText)
                    }
                }
                
                @include themed() {
                    background-color: t($base)
                }
            }
        }
        .quick-links {
            flex: 1;

            display: flex;
            flex-direction: column;
            align-items: center;

            li {
                text-decoration: none;
            }
        }
    }

    .company-banner {
        text-align: center;
        margin: 1rem;

        .banner-title {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .three-columns {
        display: flex;
        justify-content: center;
        align-items: center;

        & > * {
            width: 30%;
        }
    }
}